<h2 mat-dialog-title class="mx-auto text-2xl text-center font-semibold">เพิ่มสินค้า</h2>
<mat-dialog-content [formGroup]="form" class="space-y-6 p-4 w-full max-w-lg mx-auto md:max-w-2xl items-center">

    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
        <mat-label>วันที่คืน</mat-label>
        <input matInput [matDatepicker]="returnDatePicker" formControlName="return_date">
        <mat-datepicker-toggle matIconSuffix [for]="returnDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #returnDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-full" [ngClass]="formFieldHelpers">
        <mat-label>หมายเหตุ</mat-label>
        <textarea matInput formControlName="remark"></textarea>
    </mat-form-field>

    <h3 class="text-xl font-medium">สินค้า</h3>
    <div formArrayName="products" class="space-y-4">
        <div *ngFor="let product of productsArray.controls; let i = index" [formGroupName]="i"
            class="border p-4 rounded-lg shadow-sm">
            <p><strong>ชื่อสินค้า:</strong> {{ data.product[i].product.name }}</p>
            <p><strong>Serial No:</strong> {{ data.product[i].product.serial_no }}</p>

            <mat-form-field class="w-full">
                <mat-label>หมายเหตุสินค้า</mat-label>
                <textarea matInput formControlName="remark"></textarea>
            </mat-form-field>

            <div class="flex flex-col md:flex-row w-full">
                <div class="w-full md:min-w-full">
                    <ngx-dropzone class="w-full h-32" accept="image/*" (change)="onSelectsPC($event, i)">
                        <ngx-dropzone-label>Select Image</ngx-dropzone-label>

                        <div *ngIf="filesPC[i]">
                            <ngx-dropzone-image-preview [file]="filesPC[i]" [removable]="true"
                                (removed)="onRemoveImagePC(i)">
                            </ngx-dropzone-image-preview>
                        </div>
                    </ngx-dropzone>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="p-4 flex justify-end gap-4">
    <button mat-flat-button color="accent" (click)="closeDialog()">ยกเลิก</button>
    <button mat-flat-button color="primary" (click)="saveData()">บันทึก</button>
</mat-dialog-actions>
