<div class="flex flex-col items-center justify-center w-full h-full">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img
                class="w-20"
                src="assets/images/logo/laongsmall.png"
                alt="โลโก้">
            <h1>หน้าเริ่มต้น</h1>
            <p>
                หน้านี้สามารถใช้เป็นหน้าเริ่มต้นหรือหน้ายินดีต้อนรับของระบบได้
                หากมีการใช้งาน SSR (Server Side Rendering) หรือไม่ได้ต้องการการทำ SEO ก็สามารถใช้หน้านี้เป็นหน้าแรกของระบบได้เช่นกัน
            </p>
            <p>
                ส่วนนี้เป็นโมดูลแยก มีโครงสร้างโฟลเดอร์และเส้นทาง (routing) ของตัวเอง และแยกจากส่วนหลักของระบบอย่างชัดเจน
                ใช้เป็นตัวอย่างสำหรับการจัดการหลายแอปภายในโค้ดเบสเดียวกัน โดยสามารถกำหนดจุดเริ่มต้น (entry point) ที่แตกต่างกันได้
            </p>
        </div>
        <div>
            <a
                class="mt-8"
                mat-flat-button
                [color]="'primary'"
                [routerLink]="'/dashboards/project'">
                <span>เข้าสู่ระบบ</span>
                <mat-icon
                    class="ml-2 icon-size-5"
                    [svgIcon]="'heroicons_mini:arrow-long-right'"></mat-icon>
            </a>
        </div>
    </div>
</div>
