<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b
        bg-card dark:bg-transparent" *ngIf="this.isForm === true">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                    *ngIf="this.isForm === true">
                    สร้างใบจอง
                </h2>

                <!-- <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSubmit()">
                        บันทึก
                    </button>
                    <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onBack()">
                        ยกเลิก
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
        *ngIf="this.isForm === false">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    แก้ไขการจอง
                </h2>
                <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">

                    <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onBack()">
                        ย้อนกลับ
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="grid gap-2 w-full sm:grid-cols-1 md:grid-cols-1 bg-card rounded-lg">
            <!-- <span
                class="px-6 mt-2 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                ข้อมูลการจอง
            </span> -->
            <form [formGroup]="formData">
                <div class="flex md:flex-row flex-col mt-2">
                    <div class="flex flex-col mx-3 md:flex mb-6 w-full md:w-1/2">
                        <span
                            class="px-4 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                            <p>
                                ข้อมูลการจอง
                            </p>
                        </span>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>วันที่จอง</mat-label>
                                <input matInput [matDatepicker]="picker" [formControlName]="'calendar_date'" (dateChange)="changeDate()">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>วัตถุประสงค์การขอ</mat-label>
                                <input matInput placeholder="วัตถุประสงค์การขอ" [formControlName]="'request_purpose'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>Applications Specialist</mat-label>
                                <input matInput [formControl]="saleFilter" [matAutocomplete]="saleAutoComplete"
                                    placeholder="ค้นหา Applications Specialist" />
                                <mat-autocomplete #saleAutoComplete="matAutocomplete"
                                    (optionSelected)="onSelectSale($event.option.value, 'manual')">
                                    <mat-option *ngFor="let item of filterSale | async" [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="saleFilter.hasError('required') && saleFilter.touched">
                                    กรุณาเลือก
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>งบประมาณ</mat-label>
                                <input matInput placeholder="งบประมาณ" [formControlName]="'request_purpose'" (click)="openDialogProduct()">
                            </mat-form-field>
                        </div> -->
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>รุ่นเครื่อง</mat-label>
                                <input matInput [formControl]="productFilter" [matAutocomplete]="productAutoComplete"
                                    placeholder="ค้นหา รุ่นเครื่อง" />
                                <mat-autocomplete #productAutoComplete="matAutocomplete"
                                    (optionSelected)="onSelectProduct( $event.option.value, 'manual')">
                                    <mat-option *ngFor="let item of filterProduct | async" [value]="item.name">
                                        {{item.name}} [{{item.serial_no}}]
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="saleFilter.hasError('required') && saleFilter.touched">
                                    กรุณาเลือก
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>หัวตรวจ</mat-label>
                                <input matInput [formControl]="accessorieFilter" [matAutocomplete]="accAutoComplete"
                                    placeholder="ค้นหา หัวตรวจ" />
                                <mat-autocomplete #accAutoComplete="matAutocomplete"
                                    (optionSelected)="onSelectAccessorie( $event.option.value, 'manual')">
                                    <mat-option *ngFor="let item of filterAccessorie | async" [value]="item.name">
                                        {{item.name}} [{{item.serial_no}}]
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="saleFilter.hasError('required') && saleFilter.touched">
                                    กรุณาเลือก
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>Function Quatifications ที่หมอต้องการ</mat-label>
                                <input matInput placeholder="Function Quatifications ที่หมอต้องการ"
                                    [formControlName]="'function_qualifications'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>Work Station</mat-label>
                                <input matInput [formControl]="workstationFilter" [matAutocomplete]="workstationAutoComplete"
                                    placeholder="ค้นหา Work Station" />
                                <mat-autocomplete #workstationAutoComplete="matAutocomplete"
                                    (optionSelected)="onSelectWorkStation( $event.option.value, 'manual')">
                                    <mat-option *ngFor="let item of filterWorkstation | async" [value]="item.name">
                                        {{item.name}} [{{item.serial_no}}]
                                    </mat-option>
                                </mat-autocomplete>
                                <mat-error *ngIf="saleFilter.hasError('required') && saleFilter.touched">
                                    กรุณาเลือก
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>อุปกรณ์อื่นที่ต้องการ</mat-label>
                                <input matInput placeholder="อุปกรณ์อื่นที่ต้องการ"
                                    [formControlName]="'additional_equipment'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>วัน เวลา สถานที่นัดหมาย</mat-label>
                                <input matInput placeholder="อุปกรณ์อื่นที่ต้องการ"
                                    [formControlName]="'meeting_details'">
                            </mat-form-field>
                        </div>
                        <span
                            class="px-4 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                            <p>
                                ข้อมูลการใช้เครื่องปัจจุบันของโรงพยาบาล
                            </p>
                        </span>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>รุ่นที่ใช้อยู่</mat-label>
                                <input matInput placeholder="รุ่นที่ใช้อยู่"
                                    [formControlName]="'current_machine_model'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>Work Station</mat-label>
                                <input matInput placeholder="Work Station" [formControlName]="'current_work_station'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>ปัญหาหรือความต้องการที่ใช้อยู่</mat-label>
                                <input matInput placeholder="Work Station" [formControlName]="'current_usage_problem'">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex flex-col mx-3 md:flex mb-6 w-full md:w-1/2">
                        <span
                            class="px-4 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                            <p>
                                ข้อมูลการเครื่องคู่แข่งที่นำเสนอ
                            </p>
                        </span>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>รุ่นที่นำเสนอ</mat-label>
                                <input matInput placeholder="รุ่นที่นำเสนอ"
                                    [formControlName]="'competitor_model'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>หัวตรวจ</mat-label>
                                <input matInput placeholder="หัวตรวจ" [formControlName]="'competitor_transducer'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>Feedback ลูกค้า</mat-label>
                                <input matInput placeholder="ปัญหาหรือความต้องการที่ใช้อยู่"
                                    [formControlName]="'customer_feedback'">
                            </mat-form-field>
                        </div>
                        <span
                            class="px-4 text-xl md:text-xl font-bold tracking-tight leading-7 sm:leading-10 truncate text-gray-500">
                            <p>
                                ข้อมูลลูกค้า
                            </p>
                        </span>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>ชื่อโรงพยาบาล</mat-label>
                                <input matInput [formControl]="clientFilter" [matAutocomplete]="clientAutoComplete"
                                    placeholder="ค้นหาโรงพยาบาล" />
                                <mat-autocomplete #clientAutoComplete="matAutocomplete"
                                (optionSelected)="onSelectClient( $event.option.value, 'manual')">
                                    <mat-option *ngFor="let item of filterClient | async" [value]="item.name">
                                        {{item.name}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>ประเภทโรงพยาบาล</mat-label>
                                <input matInput placeholder="ประเภทโรงพยาบาล" [formControlName]="'customer_type'">
                            </mat-form-field>
                         
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>จังหวัด</mat-label>
                                <input matInput placeholder="จังหวัด"
                                    [formControlName]="'province'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>แผนก</mat-label>
                                <input matInput placeholder="แผนก"
                                    [formControlName]="'department'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>ชั้น</mat-label>
                                <input matInput placeholder="ชั้น"
                                    [formControlName]="'floor'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>แพทย์ KOL</mat-label>
                                <input matInput placeholder="แพทย์ KOL"
                                    [formControlName]="'kol_doctor'">
                            </mat-form-field>
                        </div>
                        <div class="w-full px-3 mb-6 md:mb-0">
                            <mat-form-field class="w-full">
                                <mat-label>ข้อมูลอื่น ๆ เพิ่มเติมที่ว่าจะช่วยให้ได้งาน</mat-label>
                                <textarea matInput [placeholder]="''" [rows]="9"
                                    formControlName="additional_info"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
            <div class="flex justify-center m-4">
                <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSubmit()">
                    บันทึก
                </button>
                <button class="px-6 ml-3" mat-flat-button [color]="'warn'" (click)="onBack()">
                    ยกเลิก
                </button>
            </div>
        </div>
    </div>
</div>