@media (max-width: 768px) {
    mat-dialog-container {
      width: 100vw !important;
      height: 100vh !important;
      max-width: 100vw !important;
      max-height: 100vh !important;
      display: flex;
      flex-direction: column;
    }
  }