<div class="flex flex-col min-w-0">
    <!-- Header -->
    <div class="flex flex-col items-center p-4 border-b bg-card dark:bg-transparent">
        <h2 class="text-xl font-bold text-center">
            {{ isForm ? 'สร้างใบจอง ' + (type ?? '-') : 'แก้ไขการจอง' }}
        </h2>
    </div>

    <!-- Main Form -->
    <div class="w-full bg-card rounded-lg p-2">
        <form [formGroup]="formData">
            <!-- Booking Information Section -->
            <div class="mb-4">
                <h3 class="text-lg font-bold text-gray-500 px-2 mb-2">
                    ข้อมูลการจอง
                </h3>

                <mat-form-field class="w-full p-2">
                    <mat-label>เลขที่ใบยืม</mat-label>
                    <input matInput placeholder="เลขที่ใบยืม" [formControlName]="'reserve_ref_no'">
                </mat-form-field>

                <mat-form-field class="w-full p-2">
                    <mat-label>วันทีจอง</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="วันที่เริ่มต้น" formControlName="start_date">
                        <input matEndDate placeholder="วันที่สิ้นสุด" formControlName="end_date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

                <mat-form-field class="w-full p-2">
                    <mat-label>วัตถุประสงค์การขอ</mat-label>
                    <mat-select [formControlName]="'request_purpose'" placeholder="ระบุวัตถุประสงค์">
                        <mat-option *ngFor="let item of purpose" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="w-full p-2" *ngIf="this.formData.value.request_purpose === 'Demo'">
                    <mat-form-field class="w-full">
                        <mat-label>งบประมาณ</mat-label>
                        <input matInput placeholder="งบประมาณ" [formControlName]="'budget'">
                    </mat-form-field>
                </div>

                <mat-form-field class="w-full p-2">
                    <mat-label>Function Quatifications ที่หมอต้องการ</mat-label>
                    <input matInput placeholder="Function Quatifications ที่หมอต้องการ"
                        [formControlName]="'function_qualifications'">
                </mat-form-field>
                <div class="w-full p-2" *ngIf="this.type === 'Echocardiogram'">
                    <mat-form-field class="w-full">
                        <mat-label>ประเภทเครื่อง</mat-label>
                        <mat-select placeholder="" (selectionChange)="onSelectType($event.value)">
                            <mat-option *ngFor="let item of productData" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                </div>
                <div class="w-full p-2" *ngIf="this.type === 'Echocardiogram'">
                    <mat-form-field class="w-full">
                        <mat-label>Work Station</mat-label>
                        <mat-select [formControlName]="'work_station_id'" placeholder="">
                            <mat-option *ngFor="let item of filterWorkstation" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                </div>
                <mat-form-field class="w-full p-2">
                    <mat-label>อุปกรณ์อื่นที่ต้องการ</mat-label>
                    <input matInput placeholder="อุปกรณ์อื่นที่ต้องการ" [formControlName]="'additional_equipment'">
                </mat-form-field>

                <mat-form-field class="w-full p-2">
                    <mat-label>วัน เวลา สถานที่นัดหมาย</mat-label>
                    <input matInput placeholder="อุปกรณ์อื่นที่ต้องการ" [formControlName]="'meeting_details'">
                </mat-form-field>
            </div>

            <!-- Current Hospital Equipment Section -->
            <div class="mb-4">
                <h3 class="text-lg font-bold text-gray-500 px-2 mb-2">
                    ข้อมูลการใช้เครื่องปัจจุบันของโรงพยาบาล
                </h3>

                <mat-form-field class="w-full p-2">
                    <mat-label>รุ่นที่ใช้อยู่</mat-label>
                    <input matInput placeholder="รุ่นที่ใช้อยู่" [formControlName]="'current_machine_model'">
                </mat-form-field>

                <div class="w-full p-2" *ngIf="this.type === 'Echocardiogram'">
                    <mat-form-field class="w-full">
                        <mat-label>Work Station</mat-label>
                        <input matInput placeholder="Work Station" [formControlName]="'current_work_station'">
                    </mat-form-field>
                </div>

                <mat-form-field class="w-full p-2">
                    <mat-label>ปัญหาหรือความต้องการที่ใช้อยู่</mat-label>
                    <input matInput placeholder="ปัญหาหรือความต้องการที่ใช้อยู่"
                        [formControlName]="'current_usage_problem'">
                </mat-form-field>
            </div>

            <!-- Competitor Information Section -->
            <div class="mb-4">
                <h3 class="text-lg font-bold text-gray-500 px-2 mb-2">
                    ข้อมูลการเครื่องคู่แข่งที่นำเสนอ
                </h3>

                <mat-form-field class="w-full p-2">
                    <mat-label>รุ่นที่นำเสนอ</mat-label>
                    <input matInput placeholder="รุ่นที่นำเสนอ" [formControlName]="'competitor_model'">
                </mat-form-field>

                <div class="w-full p-2"
                    *ngIf="this.type === 'Echocardiogram' || this.type === 'Ultrasound Imaging' || this.type === 'rc'">
                    <mat-form-field class="w-full">
                        <mat-label>หัวตรวจ</mat-label>
                        <input matInput placeholder="หัวตรวจ" [formControlName]="'competitor_transducer'">
                    </mat-form-field>
                </div>

                <mat-form-field class="w-full p-2">
                    <mat-label>Feedback ลูกค้า</mat-label>
                    <input matInput placeholder="ปัญหาหรือความต้องการที่ใช้อยู่"
                        [formControlName]="'customer_feedback'">
                </mat-form-field>
            </div>

            <!-- Customer Information Section -->
            <div class="mb-4">
                <h3 class="text-lg font-bold text-gray-500 px-2 mb-2">
                    ข้อมูลลูกค้า
                </h3>

                <mat-form-field class="w-full p-2">
                    <mat-label>ชื่อโรงพยาบาล</mat-label>
                    <input matInput [formControl]="clientFilter" [matAutocomplete]="clientAutoComplete"
                        placeholder="ค้นหาโรงพยาบาล" />
                    <mat-autocomplete #clientAutoComplete="matAutocomplete"
                        (optionSelected)="onSelectClient( $event.option.value, 'manual')">
                        <mat-option *ngFor="let item of filterClient | async" [value]="item.name">
                            {{item.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field class="w-full p-2">
                    <mat-label>ประเภทโรงพยาบาล</mat-label>
                    <mat-select [formControlName]="'customer_type'" placeholder="">
                        <mat-option *ngFor="let item of customerType" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full p-2">
                    <mat-label>จังหวัด</mat-label>
                    <mat-select [formControlName]="'province'" placeholder="">
                        <mat-option *ngFor="let item of provinces" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full p-2">
                    <mat-label>แผนก</mat-label>
                    <mat-select [formControlName]="'department'" placeholder="">
                        <mat-option *ngFor="let item of departments" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full p-2">
                    <mat-label>ชั้น</mat-label>
                    <input matInput placeholder="ชั้น" [formControlName]="'floor'">
                </mat-form-field>

                <mat-form-field class="w-full p-2">
                    <mat-label>แพทย์ KOL</mat-label>
                    <input matInput placeholder="แพทย์ KOL" [formControlName]="'kol_doctor'">
                </mat-form-field>

                <mat-form-field class="w-full p-2">
                    <mat-label>ข้อมูลอื่น ๆ เพิ่มเติมที่ว่าจะช่วยให้ได้งาน</mat-label>
                    <textarea matInput [placeholder]="''" [rows]="4" formControlName="additional_info"></textarea>
                </mat-form-field>
            </div>

            <!-- Machine Models Section -->
            <div class="w-full p-2 mb-4">
                <h3 class="text-lg font-bold text-gray-500">รายการเครื่องที่ต้องการ</h3>
                <div formArrayName="machine_models">
                    <div *ngFor="let machine of machineModels.controls; let i = index" [formGroupName]="i"
                        class="flex items-center gap-1 mt-2">
                        <mat-form-field class="flex-grow" style="min-width: 60%;">
                            <mat-label>รุ่นเครื่อง</mat-label>
                            <input matInput placeholder="Machine Model" formControlName="machine_model_name" readonly>
                        </mat-form-field>
                        <mat-form-field class="flex-grow" style="min-width: 20%;">
                            <mat-label>จำนวน</mat-label>
                            <input matInput type="number" formControlName="qty">
                        </mat-form-field>
                        <button mat-icon-button color="warn" (click)="removeMachineModel(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-form-field class="w-full mt-2">
                    <mat-label>ค้นหาเครื่อง</mat-label>
                    <input matInput [formControl]="machineModelFilter" [matAutocomplete]="item"
                        placeholder="ค้นหาเครื่องที่ต้องการ" />
                    <mat-autocomplete #item="matAutocomplete"
                        (optionSelected)="onSelectMachineModel($event, 'machine_models')">
                        <mat-option *ngFor="let item of filterMachineModel | async" [value]="item.name">
                            <span>{{item.name}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="w-full p-2 mb-4">
                <h3 class="text-lg font-bold text-gray-500">รายการหัวตรวจที่ต้องการ</h3>
                <div formArrayName="transducers">
                    <div *ngFor="let transducer of transducers.controls; let i = index" [formGroupName]="i"
                        class="flex items-center gap-1 mt-2">
                        <mat-form-field class="flex-grow" style="min-width: 60%;">
                            <mat-label>รุ่นหัวตรวจ</mat-label>
                            <input matInput placeholder="Transducer Model" formControlName="machine_model_name">
                        </mat-form-field>
                        <mat-form-field class="flex-grow" style="min-width: 20%;">
                            <mat-label>จำนวน</mat-label>
                            <input matInput type="number" formControlName="qty">
                        </mat-form-field>
                        <button mat-icon-button color="warn" (click)="removeTransducer(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-form-field class="w-full mt-2">
                    <mat-label>ค้นหารุ่นหัวตรวจ</mat-label>
                    <input matInput [formControl]="machineModelFilter" [matAutocomplete]="transducer"
                        placeholder="ค้นหารุ่นหัวตรวจ" />
                    <mat-autocomplete #transducer="matAutocomplete"
                        (optionSelected)="onSelectMachineModel($event, 'transducer')">
                        <mat-option *ngFor="let item of filterMachineModel | async" [value]="item.name">
                            <span>{{item.name}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </form>

        <!-- Action Buttons -->
        <div class="flex flex-col p-4">
            <button class="w-full mb-2" mat-flat-button [color]="'primary'" (click)="onSubmit()">
                บันทึก
            </button>
            <button class="w-full" mat-flat-button [color]="'warn'" (click)="onBack()">
                ยกเลิก
            </button>
        </div>
    </div>
</div>
