/* ----------------------------------------------------------------------------------------------------- */


/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.odd {
    display: none;
}

.bg-black-700 {
    background-color: #000000 !important;
}

/* Prevent Angular Material select/autocomplete overlays from dimming the page */
.cdk-overlay-backdrop.cdk-overlay-transparent-backdrop {
    background: transparent !important;
}
