fuse-loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    pointer-events: none;

    mat-spinner {
        pointer-events: auto;
    }
}
