<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <!-- Loader -->
    <div class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-10 pointer-events-none" *ngIf="isLoading">
        <mat-spinner class="pointer-events-auto"></mat-spinner>
    </div>
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 flemin-w-0">
            <!-- Title -->
            <div class="flex flex-row mt-2 justify-between">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    รายการสินค้า
                </h2>
                <div class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="search()">
                        <mat-icon>search</mat-icon>
                        &nbsp;
                        ค้นหา
                    </button>
                    <button class="px-6 ml-3" mat-flat-button [color]="'accent'" (click)="reset()">
                        ล้าง
                    </button>
                    <button class="px-6 ml-3" mat-flat-button color="accent" (click)="openDialogImort()">
                        <mat-icon svgIcon="heroicons_outline:plus-small"></mat-icon>
                        &nbsp; นำเข้าข้อมูล
                    </button>
                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="addElement()"
                        *ngIf="user.permission_id === 1 || user.permission_id === 3">
                        <mat-icon>person_add</mat-icon>
                        &nbsp;
                        เพิ่มสินค้า
                    </button>

                </div>

            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="grid gap-4 sm:grid-cols-1  mx-10 mt-4">
        <form class="bg-card rounded-lg md:shadow px-8 pt-2 pb-2 mb-4 flex flex-col my-2" [formGroup]="form">
            <div class="-mx-3  md:flex mb-2 mt-2">
                <div class="md:w-1/5 px-3 mb-6 md:mb-0">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>Category</mat-label>
                        <mat-select [formControlName]="'category_product_id'">
                            <mat-option>
                                <ngx-mat-select-search
                                    [formControl]="categoryFilterCtrl"
                                    placeholderLabel="ค้นหา Category..."
                                    noEntriesFoundLabel="ไม่พบข้อมูล">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let item of filteredCategories" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="md:w-1/5 px-3 mb-6 md:mb-0">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>Brand</mat-label>
                        <mat-select [formControlName]="'brand_id'">
                            <mat-option>
                                <ngx-mat-select-search
                                    [formControl]="brandFilterCtrl"
                                    placeholderLabel="ค้นหา Brand..."
                                    noEntriesFoundLabel="ไม่พบข้อมูล">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let item of filteredBrands" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="md:w-1/5 px-3 mb-6 md:mb-0">
                    <mat-form-field [ngClass]="formFieldHelpers" class="w-full">
                        <mat-label>Machine Model</mat-label>
                        <mat-select [formControlName]="'machine_model_id'">
                            <mat-option>
                                <ngx-mat-select-search
                                    [formControl]="machineModelFilterCtrl"
                                    placeholderLabel="ค้นหา Machine Model..."
                                    noEntriesFoundLabel="ไม่พบข้อมูล">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let item of filteredMachineModels" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-10 mt-2  bg-white">
        <div class="flex flex-col flex-auto p-5  sm:overflow-y-auto">
            <table datatable [dtOptions]="dtOptions" class="table row-border hover w-full bg-white whitespace-nowrap">
                <thead>
                    <tr>
                        <th class="w-[50px]">จัดการ</th>
                        <th class="w-[10px]">ลำดับ</th>
                        <th class="w-[20px]">Status</th>
                        <th class="w-[100px]">Category</th>
                        <th class="w-[100px]">Brand</th>
                        <th class="w-[100px]">Machine Model</th>
                        <th class="w-[100px]">Code</th>
                        <th class="w-[100px]">Name</th>
                        <th class="w-[200px]">Serial No.</th>
                        <th class="w-[200px]">วันที่สร้าง</th>
                    </tr>
                </thead>
                <tbody *ngIf="dataRow?.length != 0">
                    <tr *ngFor="let item of dataRow; let i = index">
                        <td>
                            <button mat-icon-button color="accent" (click)="editElement(item)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="accent" (click)="deleteElement(item.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                        <td>{{ pages.begin + (i + 1) }}</td>
                        <td class="flex flex-row justify-center">
                            <div *ngIf="item.book === 'Y'"
                                class="bg-red-200 p-1 rounded-md text-red-800 font-bold w-fit">
                                จอง
                            </div>
                            <div *ngIf="item.book === 'N'"
                                class="bg-green-200 py-1 px-2 rounded-md text-green-800 font-bold text-center w-fit">
                                ว่าง
                            </div>
                        </td>
                        <td>{{ item.category ? item.category?.name : "-" }}</td>
                        <td>{{ item.brand ? item.brand?.name : "-" }}</td>
                        <td>{{ item.machine_model ? item.machine_model?.name : "-" }}</td>
                        <td>{{ item.code ? item.code : "-" }}</td>
                        <td>{{ item.name ? item.name: "-"}}</td>
                        <td>{{ item.detail ? item.serial_no : "-" }}</td>
                        <td>{{ item.created_at !== null ? (item.created_at): "-"}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="dataRow?.length == 0">
                    <tr>
                        <td colspan="15" class="no-data-available text-center">ไม่มีข้อมูล !</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
