<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row items-center justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
            {{ type ? 'รายละเอียดใบจอง ' + type : 'รายละเอียดการจอง' }}
        </h2>
        <div class="flex flex-row flex-wrap gap-2 mt-2 md:mt-0">
            <button class="px-6 bg-yellow-500" mat-flat-button color="primary" (click)="openDialogAddProduct()"
                *ngIf="formData.value.status !== 'Ordered' && this.user?.team_role !== 'User'">จัดการเครื่อง</button>
            <button class="px-6 bg-green-700" mat-flat-button color="primary" (click)="openDialogApprove()"
                *ngIf="this.user?.team_role !== 'User'">Update
                Status</button>
            <button class="px-6" mat-flat-button color="primary" (click)="onEdit(formData.value.id)">แก้ไข</button>
            <button class="px-6" mat-flat-button color="accent" (click)="onBack()">ย้อนกลับ</button>
        </div>
    </div>

    <!-- Main Content -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-3">
            <!-- ข้อมูลการจอง -->
            <div class="bg-card p-6 rounded-lg shadow  space-y-2">
                <h3 class="text-xl font-bold text-gray-500">ข้อมูลการจอง</h3>
                <p><strong>วันที่จอง:</strong> {{ formData.value.start_date }} - {{ formData.value.end_date }}</p>
                <p><strong>วัตถุประสงค์:</strong> {{ formData.value.request_purpose ?? '-' }}</p>
                <p *ngIf="formData.value.request_purpose === 'Demo'"><strong>งบประมาณ:</strong> {{ formData.value.budget
                    ?? 0 }}</p>
                <p><strong>Function Qualifications:</strong> {{ formData.value.function_qualifications }}</p>
                <p><strong>อุปกรณ์เพิ่มเติม:</strong> {{ formData.value.additional_equipment }}</p>
                <p><strong>วัน เวลา สถานที่นัดหมาย:</strong> {{ formData.value.meeting_details }}</p>
                <p><strong>สถานะ:</strong> <span
                        class="bg-green-50 rounded-md text-sm px-2 mb-2 mx-2 py-1 text-green-400 font-semibold">{{formData.value.status}}</span>
                </p>
            </div>
            <!-- ข้อมูลโรงพยาบาล -->
            <div class="bg-card p-6 rounded-lg shadow space-y-2">
                <h3 class="text-xl font-bold text-gray-500">ข้อมูลการใช้เครื่องปัจจุบันของโรงพยาบาล</h3>
                <p><strong>รุ่นที่ใช้อยู่:</strong> {{ formData.value.current_machine_model }}</p>
                <p><strong>Work Station:</strong> {{ formData.value.current_work_station }}</p>
                <p><strong>ปัญหาหรือความต้องการ:</strong> {{ formData.value.current_usage_problem }}</p>
                <h3 class="text-xl font-bold text-gray-500">ข้อมูลการเครื่องคู่แข่งที่นำเสนอ</h3>
                <p><strong>รุ่นที่นำเสนอ:</strong> {{ formData.value.competitor_model }}</p>
                <p><strong>หัวฉีด:</strong> {{ formData.value.competitor_transducer }}</p>
                <p><strong>Feddback ลูกค้า:</strong> {{ formData.value.customer_feedback }}</p>
            </div>

            <!-- ข้อมูลโรงพยาบาล -->
            <div class="bg-card p-6 rounded-lg shadow space-y-2">
                <h3 class="text-xl font-bold text-gray-500">ข้อมูลโรงพยาบาล</h3>
                <p><strong>ชื่อโรงพยาบาล:</strong> {{ formData.value.client_name }}</p>
                <p><strong>ประเภทโรงพยาบาล:</strong> {{ formData.value.customer_type }}</p>
                <p><strong>จังหวัด:</strong> {{ formData.value.province }}</p>
                <p><strong>แผนก:</strong> {{ formData.value.department }}</p>
                <p><strong>ชั้น:</strong> {{ formData.value.floor }}</p>
                <p><strong>แพทย์ KOL:</strong> {{ formData.value.kol_doctor }}</p>
            </div>
        </div>

        <!-- ตารางแสดงรายการเครื่องที่ต้องการ -->
        <div class="mt-6 bg-card rounded-lg shadow p-6">
            <h3 class="text-xl font-bold text-gray-500">รายการเครื่องที่ต้องการ</h3>
            <ng-container *ngFor="let machine of itemData?.machine_models">
                <p><strong>รุ่นเครื่อง:</strong> {{ machine?.machine_model?.name ?? '-' }}</p>
                <p><strong>จำนวน:</strong> {{ machine?.qty ?? 0 }}</p>
                <table class="w-full border mt-2 bg-white shadow-sm mb-4">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="border p-2 text-left w-2/6">เครื่อง</th>
                            <th class="border p-2 w-1/6">Serial No.</th>
                            <th class="border p-2 w-1/6">Status</th>
                            <th class="border p-2 w-1/6">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of machine?.products">
                            <td class="border p-2">
                                {{ product?.product?.name ?? '-' }}
                            </td>
                            <td class="border p-2 text-center">
                                {{ product?.product?.serial_no ?? '-' }}
                            </td>
                            <td class="border p-2 text-center">
                                <div *ngIf="product.return === 'N'"
                                    class="bg-yellow-200 p-1 rounded-md text-yellow-800 font-bold">
                                    รอคืน
                                </div>

                                <div *ngIf="product.return === 'Y'"
                                    class="bg-green-200 p-1 rounded-md text-green-800 font-bold">
                                    คืนแล้ว
                                </div>
                            </td>
                            <td class="border p-2 text-center">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon svgIcon="heroicons_solid:cog-8-tooth"></mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item color="accent" *ngIf="product.return ==='N'"
                                        (click)="openDialogReturnProduct(product)">
                                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>
                                        <span>คืนสินค้า</span>
                                    </button>
                                    <mat-dive></mat-dive>
                                    <button mat-menu-item color="accent" *ngIf="product.return ==='Y'"
                                        (click)="showPicture(product)">
                                        <mat-icon svgIcon="heroicons_solid:eye"></mat-icon>
                                        <span>รูปภาพ</span>
                                    </button>
                                    <button mat-menu-item color="accent" (click)="delete(item.id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>ลบ</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>
        <div class="mt-6 bg-card rounded-lg shadow p-6">
            <h3 class="text-xl font-bold text-gray-500">รายการหัวฉีดที่ต้องการ</h3>
            <ng-container *ngFor="let machine of itemData?.transducers">
                <p><strong>รุ่นเครื่อง:</strong> {{ machine?.machine_model?.name ?? '-' }}</p>
                <p><strong>จำนวน:</strong> {{ machine?.qty ?? 0 }}</p>
                <table class="w-full border mt-2 bg-white shadow-sm mb-4">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="border p-2 text-left w-2/6">เครื่อง</th>
                            <th class="border p-2 w-1/6">Serial No.</th>
                            <th class="border p-2 w-1/6">Status</th>
                            <th class="border p-2 w-1/6">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of machine?.products">
                            <td class="border p-2">
                                {{ product?.product?.name ?? '-' }}
                            </td>
                            <td class="border p-2 text-center">
                                {{ product?.product?.serial_no ?? '-' }}
                            </td>
                            <td class="border p-2 text-center">
                                <div *ngIf="product.return === 'N'"
                                    class="bg-yellow-200 p-1 rounded-md text-yellow-800 font-bold">
                                    รอคืน
                                </div>
                                <div *ngIf="product.return === 'Y'"
                                    class="bg-green-200 p-1 rounded-md text-green-800 font-bold ">
                                    คืนแล้ว
                                </div>
                            </td>
                            <td class="border p-2 text-center">
                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                    aria-label="Example icon-button with a menu">
                                    <mat-icon svgIcon="heroicons_solid:cog-8-tooth"></mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item color="accent" *ngIf="product.return ==='N'"
                                        (click)="openDialogReturnProduct(product)">
                                        <mat-icon svgIcon="heroicons_solid:pencil"></mat-icon>
                                        <span>คืนสินค้า</span>
                                    </button>
                                    <mat-dive></mat-dive>
                                    <button mat-menu-item color="accent" *ngIf="product.return ==='Y'"
                                        (click)="showPicture(product)">
                                        <mat-icon svgIcon="heroicons_solid:eye"></mat-icon>
                                        <span>รูปภาพ</span>
                                    </button>
                                    <button mat-menu-item color="accent" (click)="delete(item.id)">
                                        <mat-icon>delete</mat-icon>
                                        <span>ลบ</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>
        <div class="mt-6 bg-card rounded-lg shadow p-6">
            <h3 class="text-xl font-bold text-gray-500">พนักงาน</h3>
            <table class="w-full border mt-2 bg-white shadow-sm mb-4">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="border p-2 text-left w-1/3">พนักงาน</th>
                        <th class="border p-2 w-1/3">Start Date</th>
                        <th class="border p-2 w-1/3">End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itemData?.order_users">
                        <td class="border p-2">
                            {{ item?.user?.name ?? '-' }}
                        </td>
                        <td class="border p-2 text-center">
                            {{ item?.start_date ?? '-' }}
                        </td>
                        <td class="border p-2 text-center">
                            {{ item?.end_date ?? '-' }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-6 bg-card rounded-lg shadow p-6">
            <h3 class="text-xl font-bold text-gray-500">Win & lose</h3>
            <table class="w-full border mt-2 bg-white shadow-sm mb-4">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="border p-2 w-1/3">สถานะ</th>
                        <th class="border p-2 w-1/3 text-left">รายละเอียด</th>
                        <th class="border p-2 w-1/3">วันที่อัพเดทสถานะ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of winLose">
                        <td class="border p-2 text-center">
                            {{ item?.status ?? '-' }}
                        </td>
                        <td class="border p-2 text-left">
                            {{ item?.note ?? '-' }}
                        </td>
                        <td class="border p-2 text-center">
                            {{ (item?.updated_at | date : 'dd/MM/yyyy') ?? '-' }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
